# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# Env
.env
*.env
!.env.example

# AWS
certs/
*.pem
*.crt
*.key

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
